@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$primary-font: 'Montserrat', sans-serif;
$color-grayish-blue-1: hsl(240, 80%, 98%);
$color-grayish-blue-2: hsl(234, 14%, 74%);
$color-grayish-blue-3: hsl(234, 13%, 49%);
$color-grayish-blue-4: hsl(232, 13%, 33%);
$color-blue: hsl(237, 63%, 64%);
